body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  .login-form {
    width: 400px;
    padding: 20px;
  }
  .login-form h2 {
    color: #333;
    text-align: center;
  }
  .login-form p {
    text-align: center;
    color: #666;
  }
  .input-group {
    margin-bottom: 20px;
  }
  .input-group input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .button:hover {
    background: linear-gradient(to right, #fda085 0%, #f6d365 100%);
  }
  .links {
    text-align: center;
    margin-top: 10px;
  }
  .links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
  }
  .links a:hover {
    text-decoration: underline;
  }
  .image-side {
    width: 400px;
    height: 400px;
    background-image: url('../img/logo.jpg'); /* Reemplaza 'tu-imagen-aqui.jpg' con la ruta de tu imagen */
    background-size: cover;
  }
  .button-cancel {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: #333;
    cursor: pointer;
    margin-top: 10px;
  }
  .button-cancel:hover {
    background-color: #fda085;
  }